<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
</head>
<body>
    <h1>Welcome to jitsu Buddies</h1>
    <h2>MAP</h2>
    <!-- Checks if lat or long depending on wanting location based on ip address or adress on profile-->
    <% if(locals.lat && locals.lon) {%>
     <p id="latitude"><%= lat %></p>
    <p id ="longitude"><%= lon %></p>
     <% } else{ %>
    <p id="latitude"><%= locationObj.latitude %></p>
    <p id ="longitude"><%= locationObj.longitude %></p>
     <% } %>
     <div id="flex-info">
     <div id="info">
          <div id="search-cont">
               <div class="search-flex">
                    <button id="search-button" class="search-item">Search For Partners</button>
                    <button id="my-location" class="search-item">My Location</button>
                    <button id="change-Availbility" class="search-item">Change Location</button>
                    <button id="change-Availbility" class="search-item">Availability</button>
                    <button id="change-Prefrences" class="search-item">Training Pref</button>
               </div>
          </div>
     </div>
</div>
     <div class="map-flex-cont">
          <div id="container-map">    
               <div id="map"></div>
          </div>
     </div>
     
    

     

</body>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script id="initmap-script" type="module" src="/maps/homepage_map.js" papKey=<%=papKey%>> </script>
     
</html>